.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

// 不知为何需要微调下样式才能居中, 跟antd官网上不太一样
.ant-upload-select-picture-card .ant-upload {
  margin-left: 0;
}
